ns/infoplus/NDOV_Med_PITPush_PITPushExport-v1.1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 2016-05-27	1.0.0	Marcel Sciarone	Leveren PatroonInformatieTrein aan NDOV-->
<!-- 2017-01-17	1.1.0	Marcel Sciarone	TreinMaatregel en AVVMaatregel toegevoegd en StationData optioneel geworden -->
<wsdl:definitions xmlns:pit="urn:ndov:cdm:treinverstoringsinformatie:reisinformatie:messages:treinbericht:1" xmlns:ns="urn:ndov:cdm:treinverstoringsinformatie:reisinformatie:data:1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:this="urn:ndov:cdm:treinverstoringsinformatie:reisinformatie:messages:treinbericht:1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="TRBPushExport_InfoPlusPITInterfaceHttp_Service" targetNamespace="urn:ndov:cdm:treinverstoringsinformatie:reisinformatie:messages:treinbericht:1">
	<wsdl:types>
		<xs:schema xmlns:tot="urn:ndov:cdm:treinverstoringsinformatie:reisinformatie:data:1" xmlns:this="urn:ndov:cdm:treinverstoringsinformatie:reisinformatie:messages:treinbericht:1" targetNamespace="urn:ndov:cdm:treinverstoringsinformatie:reisinformatie:messages:treinbericht:1" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:import namespace="urn:ndov:cdm:treinverstoringsinformatie:reisinformatie:data:1" schemaLocation="ndov-ri-cdm-vi-trb-v1.1.0.xsd"/>
			<xs:element name="PutReisInformatieBoodschapIn">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tot:ReisInformatieProductPatroonInformatieTrein"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PutReisInformatieBoodschapOut">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="pit:ReisInformatieProductPITResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReisInformatieProductPITResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Success">
							<xs:annotation>
								<xs:documentation>Geeft aan of het bericht succesvol (OK) of niet succesvol (NOK) is aangekomen op het afnemende systeem</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="OK"/>
									<xs:enumeration value="NOK"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ErrorCode" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>In geval van een foutsituatie (Success=NOK) vult het afnemende systeem dit veld met een unieke foutcode.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ErrorMessage" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>In geval van een foutsituatie (Success=NOK) vult het afnemende systeem dit veld met een relevante tekstuele omschrijving.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReisInformatieProductPITHeaderInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ESBTimeStamp" type="xs:dateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="PutReisInformatieBoodschapRequest">
		<wsdl:part name="PutReisInformatieBoodschapIn" element="pit:PutReisInformatieBoodschapIn"/>
	</wsdl:message>
	<wsdl:message name="PutReisInformatieBoodschapResponse">
		<wsdl:part name="PutReisInformatieBoodschapOut" element="pit:PutReisInformatieBoodschapOut"/>
	</wsdl:message>
	<wsdl:message name="ReisInformatieProductPITHeaderInfo">
		<wsdl:part name="Info" element="pit:ReisInformatieProductPITHeaderInfo"/>
	</wsdl:message>
	<wsdl:portType name="InfoPlusPITInterface">
		<wsdl:operation name="PutReisInformatieBoodschap">
			<wsdl:input message="pit:PutReisInformatieBoodschapRequest"/>
			<wsdl:output message="pit:PutReisInformatieBoodschapResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PITPushExport_InfoPlusPITInterfaceHttpBinding" type="this:InfoPlusPITInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="PutReisInformatieBoodschap">
			<soap:operation soapAction="urn:#PutReisInformatieBoodschap"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="pit:ReisInformatieProductPITHeaderInfo" part="Info" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PITPushExport_InfoPlusPITInterfaceHttpService">
		<wsdl:port name="PITPushExport_InfoPlusPITInterfaceHttpPort" binding="this:PITPushExport_InfoPlusPITInterfaceHttpBinding">
			<soap:address location="http:// 172.25.226.1/rcv-ns1-01/pit.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
