ns/infoplus/NDOV_Med_PILPush_PILPushExport-v1.0.5.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 2014-09-09	1.0	Marcel Sciarone	Leveren PatroonInformatieLandelijk aan NDOV-->
<!-- 2014-10-17	1.0.2	Marcel Sciarone	Fouten in Naamgeving, kardinaliteit en optionaliteit t.o.v. InfoPlus opgelost -->
<!-- 2015-10-02	1.0.3	Marcel Sciarone	Levering vanuit PPV -->
<wsdl:definitions xmlns:pil="urn:ndov:cdm:treinverstoringsinformatie:reisinformatie:messages:landelijkbericht:1" xmlns:ns="urn:ndov:cdm:treinverstoringsinformatie:reisinformatie:data:1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:this="urn:ndov:cdm:treinverstoringsinformatie:reisinformatie:messages:landelijkbericht:1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="PILPushExport_InfoPlusPILInterfaceHttp_Service" targetNamespace="urn:ndov:cdm:treinverstoringsinformatie:reisinformatie:messages:landelijkbericht:1">
	<wsdl:types>
		<xs:schema xmlns:tot="urn:ndov:cdm:treinverstoringsinformatie:reisinformatie:data:1" xmlns:this="urn:ndov:cdm:treinverstoringsinformatie:reisinformatie:messages:landelijkbericht:1" targetNamespace="urn:ndov:cdm:treinverstoringsinformatie:reisinformatie:messages:landelijkbericht:1" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:import namespace="urn:ndov:cdm:treinverstoringsinformatie:reisinformatie:data:1" schemaLocation="ndov-ri-cdm-vi-lab-v1.0.4.xsd"/>
			<xs:element name="PutReisInformatieBoodschapIn">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tot:ReisInformatieProductPatroonInformatieLandelijk"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PutReisInformatieBoodschapOut">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="pil:ReisInformatieProductPILResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReisInformatieProductPILResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Success">
							<xs:annotation>
								<xs:documentation>Geeft aan of het bericht succesvol (OK) of niet succesvol (NOK) is aangekomen op het afnemende systeem</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="OK"/>
									<xs:enumeration value="NOK"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ErrorCode" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>In geval van een foutsituatie (Success=NOK) vult het afnemende systeem dit veld met een unieke foutcode.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ErrorMessage" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>In geval van een foutsituatie (Success=NOK) vult het afnemende systeem dit veld met een relevante tekstuele omschrijving.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReisInformatieProductPILHeaderInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ESBTimeStamp" type="xs:dateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="PutReisInformatieBoodschapRequest">
		<wsdl:part name="PutReisInformatieBoodschapIn" element="pil:PutReisInformatieBoodschapIn"/>
	</wsdl:message>
	<wsdl:message name="PutReisInformatieBoodschapResponse">
		<wsdl:part name="PutReisInformatieBoodschapOut" element="pil:PutReisInformatieBoodschapOut"/>
	</wsdl:message>
	<wsdl:message name="ReisInformatieProductPILHeaderInfo">
		<wsdl:part name="Info" element="pil:ReisInformatieProductPILHeaderInfo"/>
	</wsdl:message>
	<wsdl:portType name="InfoPlusPILInterface">
		<wsdl:operation name="PutReisInformatieBoodschap">
			<wsdl:input message="pil:PutReisInformatieBoodschapRequest"/>
			<wsdl:output message="pil:PutReisInformatieBoodschapResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PILPushExport_InfoPlusPILInterfaceHttpBinding" type="this:InfoPlusPILInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="PutReisInformatieBoodschap">
			<soap:operation soapAction="urn:#PutReisInformatieBoodschap"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="pil:ReisInformatieProductPILHeaderInfo" part="Info" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PILPushExport_InfoPlusPILInterfaceHttpService">
		<wsdl:port name="PILPushExport_InfoPlusPILInterfaceHttpPort" binding="this:PILPushExport_InfoPlusPILInterfaceHttpBinding">
			<soap:address location="http:// 172.25.226.1/rcv-ns1-01/pil.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
