ns/infoplus/ndov-ri-cdm-vi-trb-v1.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 2016-05-27	1.0.0	Marcel Sciarone	Leveren PatroonInformatieTrein -->
<!-- 2017-01-17	1.1.0	Marcel Sciarone	TreinMaatregel en AVVMaatregel toegevoegd en StationData optioneel geworden -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:ndov:cdm:treinverstoringsinformatie:reisinformatie:data:1" targetNamespace="urn:ndov:cdm:treinverstoringsinformatie:reisinformatie:data:1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="ndov-ri-cdm-common-vi-v1.0.4.xsd"/>
	<!-- $Header: $ -->
	<xsd:element name="ReisInformatieProductPatroonInformatieTrein" type="ReisInformatieProductPatroonInformatieTreinType"/>
	<xsd:complexType name="ActueleReikWijdteTreinenType">
		<xsd:annotation>
			<xsd:documentation>Geeft de actuele reikwijdtestations weer van een verstoringsbericht</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DossierNummer" type="DossierNummerType"/>
			<xsd:element name="ReikWijdteTrein" type="ReikWijdteTreinType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="Versie" type="VersieType" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="ActueleTreinBerichtenType">
		<xsd:annotation>
			<xsd:documentation>Geeft de actuele stationsberichten weer.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TreinBericht" type="TreinBerichtType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="Versie" type="VersieType" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="GeefActueleReikWijdteTreinenFaultMessageType">
		<xsd:sequence>
			<xsd:element name="Foutnummer" type="FoutnummerType"/>
			<xsd:element name="Omschrijving" type="xsd:string"/>
			<xsd:element name="GeefActueleReikWijdteTreinenRequestMessage" type="GeefActueleReikWijdteTreinenRequestMessageType"/>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="TimeStampType" use="required">
			<xsd:annotation>
				<xsd:documentation>Geeft de datum en tijd weer  wanneer het antwoord is samengesteld.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="GeefActueleReikWijdteTreinenRequestMessageType">
		<xsd:annotation>
			<xsd:documentation>De vraag voor actuele reikwijdtestations van een bepaald verstoringsbericht</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DossierNummer" type="DossierNummerType"/>
			<xsd:element name="Aanvrager" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Geeft aan wie de aanvrager is (voor statistieken).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="TimeStampType" use="required">
			<xsd:annotation>
				<xsd:documentation>Geeft de datum en tijd weer  wanneer deze vraag is gesteld.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="GeefActueleReikWijdteTreinenResponseMessageType">
		<xsd:annotation>
			<xsd:documentation>Dit element bevat een actueel overzicht van alle verstoringsberichten voor een bepaald station.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BerichtStatus" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>Status van het antwoord. 10=succesvolle afhandeling, 20=geen actuele reisinformatie beschikbaar. 30=geen reisinformatie beschikbaar.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GeefActueleReikWijdteTreinenRequestMessage" type="GeefActueleReikWijdteTreinenRequestMessageType"/>
			<xsd:element name="ActueleReikWijdteTreinen" type="ActueleReikWijdteTreinenType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="TimeStampType" use="required">
			<xsd:annotation>
				<xsd:documentation>Geeft de datum en tijd weer  wanneer het antwoord is samengesteld.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="GeefActueleTreinBerichtenFaultMessageType">
		<xsd:sequence>
			<xsd:element name="Foutnummer" type="FoutnummerType"/>
			<xsd:element name="Omschrijving" type="xsd:string"/>
			<xsd:element name="GeefActueleTreinBerichtenRequestMessage" type="GeefActueleTreinBerichtenRequestMessageType"/>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="TimeStampType" use="required">
			<xsd:annotation>
				<xsd:documentation>Geeft de datum en tijd weer  wanneer het antwoord is samengesteld.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="GeefActueleTreinBerichtenRequestMessageType">
		<xsd:annotation>
			<xsd:documentation>De vraag voor actuele verstoringsberichten voor een bepaalde trein.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TreinNummer" type="TreinNummerType"/>
			<xsd:element name="StationCode" type="StationCodeType" minOccurs="0"/>
			<xsd:element name="TaalCodes" type="TaalCodesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> Als er het TaalCodes element ontbreekt dan wordt de Nederlandse redactie gebruikt.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Aanvrager" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Geeft aan wie de aanvrager is (voor statistieken).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="TimeStampType" use="required">
			<xsd:annotation>
				<xsd:documentation>Geeft de datum en tijd weer  wanneer deze vraag is gesteld.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="GeefActueleTreinBerichtenResponseMessageType">
		<xsd:annotation>
			<xsd:documentation>Dit element bevat een actueel overzicht van alle verstoringsberichten voor een bepaalde trein.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BerichtStatus" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>Status van het antwoord. 10=succesvolle afhandeling, 20=geen actuele reisinformatie beschikbaar. 30=geen reisinformatie beschikbaar.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GeefActueleTreinBerichtenRequestMessage" type="GeefActueleTreinBerichtenRequestMessageType"/>
			<xsd:element name="ActueleTreinBerichten" type="ActueleTreinBerichtenType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="TimeStampType" use="required">
			<xsd:annotation>
				<xsd:documentation>Geeft de datum en tijd weer  wanneer het antwoord is samengesteld.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ReikWijdteTreinType">
		<xsd:annotation>
			<xsd:documentation>Geeft het ReikWijdteStation weer</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DossierVolgNummer" type="DossierVolgNummerType"/>
			<xsd:element name="TreinSerie" type="TreinSerieType"/>
			<xsd:element name="StationDataReikWijdte" type="StationDataReikWijdteTreinType" maxOccurs="unbounded"/>
			<xsd:element name="ReisInformatieProductId" type="ReisInformatieProductIdType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReisInformatieProductPatroonInformatieTreinType">
		<xsd:sequence>
			<xsd:element name="RIPAdministratie" type="RIPAdministratieType"/>
			<xsd:element name="TreinseriePatroonInformatie" type="TreinseriePatroonInformatieType"/>
		</xsd:sequence>
		<xsd:attribute name="Versie" type="VersieType" use="required">
			<xsd:annotation>
				<xsd:documentation>Het Versie attribuut kan gebruikt worden voor versiebeheer.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="TimeStamp" type="TimeStampType" use="required"/>
		<xsd:anyAttribute namespace="##other" processContents="lax"/>
	</xsd:complexType>
	<xsd:complexType name="SituatieTRBType">
		<xsd:annotation>
			<xsd:documentation>Geeft de situatie van de verstoring weer</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="EVBeginTijd" type="EVBeginTijdType"/>
					<xsd:element name="PresentatieEVBeginTijd" type="MeertaligeUitingenType" minOccurs="0"/>
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element name="SituatieTijdvakMetPeriodeKalender" type="SituatieTijdvakMetPeriodeKalenderType"/>
				</xsd:sequence>
			</xsd:choice>
			<xsd:element name="PresentatiePeriode" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="BaanvakBeperking" type="BaanvakBeperkingType" maxOccurs="unbounded"/>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="AanleidingCode" type="AanleidingCodeType"/>
					<xsd:element name="OorzaakKort" type="OorzaakKortType"/>
					<xsd:element name="OorzaakLang" type="OorzaakLangType"/>
				</xsd:sequence>
				<xsd:element name="EvenementNaam" type="EvenementNaamType"/>
			</xsd:choice>
			<xsd:element name="PresentatieOorzaak" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="Prognose" type="PrognoseType" minOccurs="0"/>
			<xsd:element name="PresentatiePrognose" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="InformatiePersoneel" type="InformatiePersoneelType" minOccurs="0"/>
			<xsd:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StationDataReikWijdteTreinType">
		<xsd:annotation>
			<xsd:documentation>Geeft de gegevens van het station weer die betrekking heeft op de reikwijdte van een trein.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Station" type="StationType"/>
			<xsd:element name="AanreistijdVerstoring" type="AanreistijdVerstoringType" minOccurs="0"/>
			<xsd:element name="AantalReizen" type="AantalReizenType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StationDataType">
		<xsd:annotation>
			<xsd:documentation>Gegevens die gelden voor de stations die de trein aandoet.
	</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Station" type="StationType"/>
			<xsd:element name="AanreistijdVerstoring" type="AanreistijdVerstoringType" minOccurs="0"/>
			<xsd:element name="AantalReizen" type="AantalReizenType" minOccurs="0"/>
			<xsd:element name="OmreisAdvies" type="SamengesteldOmreisAdviesType" minOccurs="0" maxOccurs="5"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TreinBerichtType">
		<xsd:annotation>
			<xsd:documentation>Geeft het treinbericht weer</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ReisInformatieProductId" type="ReisInformatieProductIdType"/>
			<xsd:element name="TreinseriePatroonInformatie" type="TreinseriePatroonInformatieType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TreinseriePatroonInformatieType">
		<xsd:annotation>
			<xsd:documentation>Het element bevat de treinseriegegevens van één geplande of ongeplande verstoring op één bepaalde geldigheidsdatum.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DossierNummer" type="DossierNummerType"/>
			<xsd:element name="DossierVolgNummer" type="DossierVolgNummerType"/>
			<xsd:element name="DossierNaam" type="DossierNaamType"/>
			<xsd:element name="TreinSerie" type="TreinSerieType">
				<xsd:annotation>
					<xsd:documentation>De Treinserie, waarvoor deze PatroonInformatie van toepassing is.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TreinSoort" type="TreinSoortType"/>
			<xsd:element name="TreinFormule" type="TreinFormuleType"/>
			<xsd:element name="Vervoerder" type="VervoerderType"/>
			<xsd:element name="VerstoringSoort" type="VerstoringSoortType"/>
			<xsd:element name="VerstoringFase" type="VerstoringFaseType" minOccurs="0"/>
			<xsd:element name="VerstoringImpact" type="ImpactType"/>
			<xsd:element name="ImpactOmschrijving" type="ImpactOmschrijvingType"/>
			<xsd:element name="RegistratieTijd" type="RegistratieTijdType"/>
			<xsd:element name="VrijgaveTijd" type="VrijgaveTijdType"/>
			<xsd:element name="PresentatieMeldTijd" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="WijzigingTypeBericht" type="WijzigingTypeBerichtType" minOccurs="0"/>
			<xsd:element name="Situatie" type="SituatieTRBType"/>
			<xsd:element name="PresentatieLocatie" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="PresentatieSituatie" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="DringendAdvies" type="DringendAdviesType" minOccurs="0"/>
			<xsd:element name="PresentatieDringendAdvies" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="AanvullendAdvies" type="AanVullendAdviesType" minOccurs="0"/>
			<xsd:element name="PresentatieAanvullendAdvies" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="TreinMaatregel" type="TreinMaatregelMetTijdvakType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="AVVMaatregel" type="AVVMaatregelMetTijdvakType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="StationData" type="StationDataType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SamenvattingMateVertraging" type="MateVertragingType" minOccurs="0"/>
			<xsd:element name="PresentatieSamenvattingMateVertraging" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="SamenvattingAVVBijBaanvak" type="SamenvattingAVVPerBaanvakType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Bij een EV is er maximaal maar één Samenvatting per baanvak. Bij een GV of ET is één Samenvatting per Tijdvak per baanvak mogelijk. Bij het ontbreken vanAVV is er helemaal geen samenvatting van dit type.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SamenvattingAVVDossier" type="SamenvattingAVVMaatregelenType" minOccurs="0"/>
			<xsd:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TreinSerieType">
		<xsd:annotation>
			<xsd:documentation>Geeft aan voor welke treinserie de informatie betrekking heeft.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LaagsteTreinnr" type="TreinNummerType"/>
			<xsd:element name="HoogsteTreinnr" type="TreinNummerType"/>
			<xsd:element name="Selectie" type="TreinNummerRichtingType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="Code" type="TreinSerieCodeType" use="required"/>
	</xsd:complexType>
</xsd:schema>
