ns/infoplus/ndov-ri-cdm-vi-lab-v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 2020-06-09	2.0	Roberto Yard Leveren trein verstoringsinformatie versie 2 aan NDOV-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:ndov:cdm:treinverstoringsinformatie:reisinformatie:data:2" targetNamespace="urn:ndov:cdm:treinverstoringsinformatie:reisinformatie:data:2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="ndov-ri-cdm-common-vi-v2.0.xsd"/>
	<!--RPA, DVS *************************************************************************************-->
	<!--**********************************************************************************************-->
	<xsd:element name="ReisInformatieProductPatroonInformatieLandelijk" type="ReisInformatieProductPatroonInformatieLandelijkType">
		<xsd:annotation>
			<xsd:documentation>Het element LandelijkePatroonInformatie bevat de landelijke gegevens van één geplande of ongeplande verstoring op één bepaalde geldigheidsdatum.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ActueleLandelijkeBerichtenType">
		<xsd:sequence>
			<xsd:element name="LandelijkBericht" type="LandelijkBerichtType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="UTCMilliSecResolutieType" use="required"/>
		<xsd:attribute name="Versie" type="VersieType" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="BaanvakType">
		<xsd:annotation>
			<xsd:documentation>Opsomming van dienstregelpunten van een door infrabeperking getroffen "baanvak" tbv signalering van de verstoring naar de reisplanner.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="StationCode" type="StationCodeType" minOccurs="2" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BeperkPeriodeType">
		<xsd:annotation>
			<xsd:documentation>Mogelijkheid om een periode te specificeren</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BeginTijd" type="BeginTijdType"/>
			<xsd:element name="EindTijd" type="EindTijdType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GeefActueleLandelijkeBerichtenFaultMessageType">
		<xsd:sequence>
			<xsd:element name="Foutnummer" type="FoutnummerType"/>
			<xsd:element name="Omschrijving" type="xsd:string"/>
			<xsd:element name="GeefActueleLandelijkeBerichtenRequestMessage" type="GeefActueleLandelijkeBerichtenRequestMessageType"/>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="TimeStampType" use="required">
			<xsd:annotation>
				<xsd:documentation>Geeft de datum en tijd weer  wanneer het antwoord is samengesteld.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="GeefActueleLandelijkeBerichtenRequestMessageType">
		<xsd:annotation>
			<xsd:documentation>De vraag voor actuele vertrektijden</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TaalCodes" type="TaalCodesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> Als het TaalCodes-element ontbreekt dan wordt de Nederlandse redactie gebruikt.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Aanvrager" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Geeft aan wie de aanvrager is (voor statistieken).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BeperkTotType" type="VITypeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Hiermee kun je de selectie beperken tot de volgende types. Als dit element ontbreekt krijg je alle (geldige) types.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BeperkPeriode" type="BeperkPeriodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Als dit element ontbreekt krijg je alle bekende geplande wijzigingen. Als dit element gedefinieerd is krijg je de geplande wijzigingen die actief zijn gedurende die periode.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="TimeStampType" use="required">
			<xsd:annotation>
				<xsd:documentation>Geeft de datum en tijd weer  wanneer deze vraag is gesteld.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="GeefActueleLandelijkeBerichtenResponseMessageType">
		<xsd:annotation>
			<xsd:documentation>Dit element bevat een actueel overzicht van alle landelijke berichten.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BerichtStatus" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>Status van het antwoord. 10=succesvolle afhandeling, 20=geen actuele reisinformatie beschikbaar. 30=geen reisinformatie beschikbaar.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GeefActueleLandelijkeBerichtenRequestMessage" type="GeefActueleLandelijkeBerichtenRequestMessageType"/>
			<xsd:element name="ActueleLandelijkeBerichten" type="ActueleLandelijkeBerichtenType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="TimeStampType" use="required">
			<xsd:annotation>
				<xsd:documentation>Geeft de datum en tijd weer  wanneer het antwoord is samengesteld.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="LABOmreisAdviesType">
		<xsd:annotation>
			<xsd:documentation>Geeft een samengevoegd omreisadvies weer.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="StationVanaf" type="StationType"/>
			<xsd:element name="BestemmingStation" type="StationType" maxOccurs="2"/>
			<xsd:element name="Richting" type="RichtingType"/>
			<xsd:element name="Advies" type="OmreisAdviesType"/>
			<xsd:element name="OmreisExtraReistijd" type="OmreisExtraReistijdType"/>
			<xsd:element name="PresentatieOmreisAdvies" type="MeertaligeUitingenType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LandelijkBerichtType">
		<xsd:sequence>
			<xsd:element name="ReisInformatieProductId" type="ReisInformatieProductIdType"/>
			<xsd:element name="LandelijkPatroonInformatie" type="LandelijkePatroonInformatieType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LandelijkePatroonInformatieType">
		<xsd:annotation>
			<xsd:documentation>Het element LandelijkePatroonInformatie bevat de landelijke gegevens van één geplande of ongeplande verstoring op één bepaalde geldigheidsdatum.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DossierNummer" type="DossierNummerType"/>
			<xsd:element name="DossierVolgNummer" type="DossierVolgNummerType"/>
			<xsd:element name="DossierNaam" type="DossierNaamType"/>
			<xsd:element name="VerstoringSoort" type="VerstoringSoortType"/>
			<xsd:element name="VerstoringFase" type="VerstoringFaseType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Alleen bij EV; bij een GW of ET afwezig.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VerstoringImpact" type="ImpactOmschrijvingType"/>
			<xsd:element name="RegistratieTijd" type="RegistratieTijdType"/>
			<xsd:element name="VrijgaveTijd" type="VrijgaveTijdType"/>
			<xsd:element name="PresentatieMeldTijd" type="MeertaligeUitingenType"/>
			<xsd:element name="WijzigingTypeBericht" type="WijzigingTypeBerichtType"/>
			<xsd:element name="Tijdvak" type="TijdvakLABType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Bij een EV is er maximaal één Tijdvak.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PresentatiePeriodeDossier" type="MeertaligeUitingenType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Alleen bij GW en ET</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TreinMaatregel" type="TreinMaatregelType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="AVVMaatregel" type="AVVMaatregelType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PresentatieGeheleTekst" type="MeertaligeUitingenType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TijdvakLABType">
		<xsd:sequence>
			<xsd:choice>
				<xsd:sequence>
					<xsd:annotation>
						<xsd:documentation>Alleen bij EV</xsd:documentation>
					</xsd:annotation>
					<xsd:element name="EVBeginTijd" type="EVBeginTijdType"/>
					<xsd:element name="PresentatieEVBeginTijd" type="MeertaligeUitingenType"/>
				</xsd:sequence>
				<xsd:sequence>
					<xsd:annotation>
						<xsd:documentation>Alleen bij GW en ET</xsd:documentation>
					</xsd:annotation>
					<xsd:element name="BeginTijd" type="BeginTijdType"/>
					<xsd:element name="EindTijd" type="EindTijdType"/>
					<xsd:element name="PresentatiePeriodeBaanvak" type="MeertaligeUitingenType"/>
				</xsd:sequence>
			</xsd:choice>
			<xsd:element name="TijdvakId" type="SituatieTijdvakIdType"/>
			<xsd:element name="Situatie" type="SituatieLABType"/>
			<xsd:element name="SamenvattingAVVBijBaanvak" type="SamenvattingAVVPerBaanvakType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Bij een EV is er maximaal maar één Samenvatting per baanvak. Bij een GW of ET is één Samenvatting per Tijdvak per baanvak mogelijk. Bij het ontbreken vanAVV is er helemaal geen samenvatting van dit type. Ook bij een GebiedBeperking is deze samenvatting er niet.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SamenvattingAVVDossier" type="SamenvattingAVVMaatregelenType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Bij een EV is er maximaal maar één Samenvatting. Bij een GW of ET is één Samenvatting per Tijdvak mogelijk voor het dossier. Bij het ontbreken van AVV is er helemaal geen samenvatting.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OmreizenMogelijk" type="OmreizenMogelijkType"/>
			<xsd:element name="OmreisAdvies" type="LABOmreisAdviesType" minOccurs="0" maxOccurs="5"/>
			<xsd:element name="DringendAdvies" type="DringendAdviesType" minOccurs="0"/>
			<xsd:element name="AanvullendAdvies" type="AanvullendAdviesType" minOccurs="0"/>
			<xsd:element name="SamenvattingMateVertraging" type="SamenvattingMateVertragingType" minOccurs="0"/>
			<xsd:element name="AanvullendeTekstRegel" type="AanvullendeTekstRegelType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OmreizenMogelijkType">
		<xsd:sequence>
			<xsd:element name="OmreizenMogelijkIndicatie" type="IndicatieType">
				<xsd:annotation>
					<xsd:documentation>Bij een GW is deze waarde altijd 'N'.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PresentatieOmreizenMogelijk" type="MeertaligeUitingenType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReisInformatieProductPatroonInformatieLandelijkType">
		<xsd:sequence>
			<xsd:element name="RIPAdministratie" type="RIPAdministratieType"/>
			<xsd:element name="LandelijkePatroonInformatie" type="LandelijkePatroonInformatieType"/>
		</xsd:sequence>
		<xsd:attribute name="ApplicatieVersie" type="VersieType" use="required"/>
		<xsd:attribute name="Versie" type="VersieType" use="required">
			<xsd:annotation>
				<xsd:documentation>Het Versie attribuut kan gebruikt worden voor versiebeheer.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="TimeStamp" type="TimeStampType" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="SignaleringVerstoringType">
		<xsd:sequence>
			<xsd:element name="VerstoordBaanvak" type="VerstoordBaanvakType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SituatieLABType">
		<xsd:annotation>
			<xsd:documentation>Geeft de situatie van de verstoring weer</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BaanvakBeperking" type="BaanvakBeperkingType" maxOccurs="unbounded"/>
			<xsd:element name="SignaleringVerstoring" type="SignaleringVerstoringType">
				<xsd:annotation>
					<xsd:documentation>Opsomming van dienstregelpunten van een door infrabeperking getroffen "baanvak" tbv signalering van de verstoring naar de reisplanner.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Prognose" type="PrognoseType" minOccurs="0"/>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="AanleidingCode" type="AanleidingCodeType"/>
					<xsd:element name="OorzaakKort" type="OorzaakKortType"/>
					<xsd:element name="OorzaakLang" type="OorzaakLangType"/>
					<xsd:element name="PresentatieOorzaak" type="MeertaligeUitingenType"/>
				</xsd:sequence>
				<xsd:element name="EvenementNaam" type="EvenementNaamType"/>
			</xsd:choice>
			<xsd:element name="PresentatieSituatie" type="MeertaligeUitingenType"/>
			<xsd:element name="PresentatieLocatie" type="MeertaligeUitingenType"/>
			<xsd:element name="InformatiePersoneel" type="InformatiePersoneelType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VerstoordBaanvakType">
		<xsd:sequence>
			<xsd:element name="Baanvak" type="BaanvakType" maxOccurs="2"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VITypeType">
		<xsd:annotation>
			<xsd:documentation>Mogelijkheid om types te selecteren/deselecteren</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation>
					EV   = Ernstige Verstoring,
					GW   = Geplande Wijziging,
					ET   = Evenement,
					OHR  = Onderhoudsrooster,
					KGOV = Kort Grensoverschrijdend Vervoer,
					INT  = Internationaal.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="EV" type="IndicatieType"/>
			<xsd:element name="GW" type="IndicatieType"/>
			<xsd:element name="ET" type="IndicatieType"/>
			<xsd:element name="OHR" type="IndicatieType"/>
			<xsd:element name="KGOV" type="IndicatieType"/>
			<xsd:element name="INT" type="IndicatieType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
