ns/infoplus/ri-cdm-vtb-stb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 2014-09-09	1.0	Marcel Sciarone	Leveren VrijeTekstBericht Station -->
<!-- 2014-10-17	1.0.1	Marcel Sciarone	Fouten in Naamgeving, kardinaliteit en optionaliteit t.o.v. InfoPlus opgelost -->
<!-- 2014-12-22	1.0.2	Marcel Sciarone	Structuur gewijzigd, ServiceInformatieProductID in RPA uitvoer -->
<!--														Heeft alleen betrekking op RPA, niet op Tibco en IBM W-ESB -->
<!-- 2015-01-05	1.0.3	Marcel Sciarone	Bij vervallenbericht wordt nu TijdvakID opgegeven -->
<!-- 2015-11-03	1.0.4	Marcel Sciarone	Reikwijdte stations toegevoegd -->
<!-- 2016-04-29	1.0.5	Marcel Sciarone	Bericht heeft nu optioneel een Categorie en TaalCode. Tijdvak komt nu 1-n maal voor i.p.v. 1 maal. -->
<!-- 2016-06-01	1.0.4	Marcel Sciarone	BerichtCategorieCode heet nu BerichtCategorieCodeType en is gewijzigd van integer naar string -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:ns:cdm:reisinformatie:data:vtb:1" targetNamespace="urn:ns:cdm:reisinformatie:data:vtb:1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="ri-cdm-common-vtb.xsd"/>
	<!-- $Header -->
	<xsd:element name="ServiceInformatieProductVrijeTekstBerichtStation" type="ServiceInformatieProductVrijeTekstBerichtStationType"/>
	<xsd:complexType name="ActueleReikWijdteStationsVrijeTekstBerichtType">
		<xsd:annotation>
			<xsd:documentation>Geeft de actuele reikwijdte stations weer van een vrije tekst bericht</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MeldingNummer" type="MeldingNummerType"/>
			<xsd:element name="MeldingVolgNummer" type="MeldingVolgNummerType"/>
			<xsd:element name="ReikWijdteStation" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Station" type="StationType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Versie" type="VersieType" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="ActueleStationVrijeTekstBerichtenType">
		<xsd:annotation>
			<xsd:documentation>Geeft de actuele vrije tekst berichten weer.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="StationVrijeTekstBericht" type="StationVrijeTekstBerichtType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="Versie" type="VersieType" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="BestemdVoorSTBType">
		<xsd:annotation>
			<xsd:documentation>Bestemd voor Omroep of Beeld</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BeeldStation" type="IndicatieType"/>
			<xsd:element name="OmroepStation" type="IndicatieType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GeefActueleReikWijdteStationsVrijeTekstBerichtFaultMessageType">
		<xsd:annotation>
			<xsd:documentation>De vraag voor actuele reikwijdte stations van een bepaald vrije tekst bericht.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Foutnummer" type="FoutnummerType"/>
			<xsd:element name="Omschrijving" type="xsd:string"/>
			<xsd:element name="GeefActueleReikWijdteStationsVrijeTekstBerichtRequestMessage" type="GeefActueleReikWijdteStationsVrijeTekstBerichtRequestMessageType"/>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="TimeStampType" use="required">
			<xsd:annotation>
				<xsd:documentation>Geeft de datum en tijd weer  wanneer het antwoord is samengesteld.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="GeefActueleReikWijdteStationsVrijeTekstBerichtRequestMessageType">
		<xsd:annotation>
			<xsd:documentation>De vraag voor actuele vrije tekst berichten.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MeldingNummer" type="MeldingNummerType"/>
			<xsd:element name="Aanvrager" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Geeft aan wie de aanvrager is (voor statistieken).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="TimeStampType" use="required">
			<xsd:annotation>
				<xsd:documentation>Geeft de datum en tijd weer  wanneer deze vraag is gesteld.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="GeefActueleReikWijdteStationsVrijeTekstBerichtResponseMessageType">
		<xsd:annotation>
			<xsd:documentation>Dit element bevat een actueel overzicht van alle vrije tekst berichten voor een bepaald station.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BerichtStatus" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>Status van het antwoord. 10=succesvolle afhandeling, 20=geen actuele reisinformatie beschikbaar. 30=geen reisinformatie beschikbaar.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GeefActueleReikWijdteStationsVrijeTekstBerichtRequestMessage" type="GeefActueleReikWijdteStationsVrijeTekstBerichtRequestMessageType"/>
			<xsd:element name="ActueleReikWijdteStationsVrijeTekstBericht" type="ActueleReikWijdteStationsVrijeTekstBerichtType"/>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="TimeStampType" use="required">
			<xsd:annotation>
				<xsd:documentation>Geeft de datum en tijd weer  wanneer het antwoord is samengesteld.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="GeefActueleStationVrijeTekstBerichtFaultMessageType">
		<xsd:sequence>
			<xsd:element name="Foutnummer" type="FoutnummerType"/>
			<xsd:element name="Omschrijving" type="xsd:string"/>
			<xsd:element name="GeefActueleStationVrijeTekstBerichtRequestMessage" type="GeefActueleStationVrijeTekstBerichtRequestMessageType"/>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="TimeStampType" use="required">
			<xsd:annotation>
				<xsd:documentation>Geeft de datum en tijd weer  wanneer het antwoord is samengesteld.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="GeefActueleStationVrijeTekstBerichtRequestMessageType">
		<xsd:annotation>
			<xsd:documentation>De vraag voor actuele vrije tekst berichten  voor een bepaald station.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="StationCode" type="StationCodeType"/>
			<xsd:element name="Aanvrager" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Geeft aan wie de aanvrager is (voor statistieken).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="TimeStampType" use="required">
			<xsd:annotation>
				<xsd:documentation>Geeft de datum en tijd weer  wanneer deze vraag is gesteld.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="GeefActueleStationVrijeTekstBerichtResponseMessageType">
		<xsd:annotation>
			<xsd:documentation>Dit element bevat een actueel overzicht van alle vertrekkende ritten die binnen een bepaalde tijdshorizon vertrekken van een bepaald station.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BerichtStatus" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>Status van het antwoord. 10=succesvolle afhandeling, 20=geen actuele reisinformatie beschikbaar. 30=geen reisinformatie beschikbaar.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GeefActueleStationVrijeTekstBerichtRequestMessage" type="GeefActueleStationVrijeTekstBerichtRequestMessageType"/>
			<xsd:element name="ActueleStationVrijeTekstBerichten" type="ActueleStationVrijeTekstBerichtenType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="TimeStampType" use="required">
			<xsd:annotation>
				<xsd:documentation>Geeft de datum en tijd weer  wanneer het antwoord is samengesteld.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ServiceInformatieProductVrijeTekstBerichtStationType">
		<xsd:sequence>
			<xsd:element name="SIPAdministratie" type="SIPAdministratieType"/>
			<xsd:element name="VrijeTekstBerichtStation" type="VrijeTekstBerichtStationType"/>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="TimeStampType" use="required"/>
		<xsd:attribute name="Versie" type="VersieType" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="StationBerichtEigenschappenType">
		<xsd:sequence>
			<xsd:element name="Tijdvak" type="TijdvakType" maxOccurs="unbounded"/>
			<xsd:element name="Impact" type="ImpactType"/>
			<xsd:element name="BestemdVoor" type="BestemdVoorSTBType"/>
			<xsd:element name="Categorie" type="CategorieType" minOccurs="0"/>
			<xsd:element name="TaalCode" type="TaalCodeType" minOccurs="0"/>
			<xsd:element name="KortBericht" type="BerichtInhoudType"/>
			<xsd:element name="MiddelBericht" type="BerichtInhoudType"/>
			<xsd:element name="LangBericht" type="BerichtInhoudType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StationVrijeTekstBerichtType">
		<xsd:sequence>
			<xsd:element name="ServiceInformatieProductId" type="ServiceInformatieProductIdType"/>
			<xsd:element name="VrijeTekstBerichtStation" type="VrijeTekstBerichtStationType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VervallenStationBerichtEigenschappenType">
		<xsd:sequence>
			<xsd:element name="Tijdvak" type="TijdvakIdType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VrijeTekstBerichtStationType">
		<xsd:sequence>
			<xsd:element name="MeldingNummer" type="MeldingNummerType"/>
			<xsd:element name="MeldingVolgNummer" type="MeldingVolgNummerType"/>
			<xsd:element name="MeldingNaam" type="MeldingNaamType"/>
			<xsd:element name="DoelStation" type="StationType"/>
			<xsd:element name="WijzigingTypeBericht" type="WijzigingTypeStationBerichtType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WijzigingTypeStationBerichtType">
		<xsd:choice>
			<xsd:element name="Nieuw" type="StationBerichtEigenschappenType"/>
			<xsd:element name="Gewijzigd" type="StationBerichtEigenschappenType"/>
			<xsd:element name="Vervallen" type="VervallenStationBerichtEigenschappenType"/>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>
